---
layout: page
title: 文章分类
---

<button type="button" class="btn btn-default btn-sm" onclick="javascript:window.location.href='/';"><<返回主页</button>
<h2>
	<br/>
</h2>
<div class="page-categories">
    <ul class="list-group">
    {% for cat in site.categories %}
   		 <a data-toggle="collapse" data-parent="list-group" href="#{{ cat[0] }}-ref">
    	<li class="list-group-item">
        	<span class="badge">{{ cat[1].size }}</span>
        	{{ cat[0] }}
    	</li></a>
    	<div class="collapse" id="{{ cat[0] }}-ref">
    	<br/>
        <ul>
            {% for post in cat[1] %}
            <li>
                <span>{{ post.date | date:"%Y年%m月%d日" }} </span>
                <a href="{{ post.url }}">{{post.title}} </a>
            </li>
            {% endfor %}
        </ul>
        <br/>
    	</div>
    {% endfor %}
    </ul>
</div>
<h2>
	<br/>
</h2>
<div class="text-center">
<button type="button" class="btn btn-default btn-sm" onclick="javascript:window.location.href='#h';">返回页首</button>
</div>
<h2>
    </br>
</h2>
