---
layout: page
title: 文章标签
---

<button type="button" class="btn btn-default btn-sm" onclick="javascript:window.location.href='/';"><<返回主页</button>
<h2>
    </br>
</h2>
<div class="page-tags">
    <ul class="list-group">
    {% for tag in site.tags %}
        <a data-toggle="collapse" data-parent="list-group" href="#{{ tag[0] }}-ref">
        <li class="list-group-item">
        <span class="badge">{{ tag[1].size }}</span>
        {{ tag[0] }}
        </li></a>
        <div class="collapse" id="{{ tag[0] }}-ref">
        <br/>
        <ul>
        {% for post in tag[1] %}
            <li>
                <span>{{ post.date | date:"%Y年%m月%d日" }} </span>
                <a href="{{ post.url }}">{{post.title}} </a>
            </li>
        {% endfor %}
        </ul>
        <br/>
    </div>
    {% endfor %}
    </ul>
</div>
<h2>
    </br>
</h2>
<div class="text-center">
<button type="button" class="btn btn-default btn-sm" onclick="javascript:window.location.href='#h';">返回页首</button>
</div>
<h2>
    </br>
</h2>

